<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key="loginServer" value="foundation-qa.horizon.pitneycloud.com"/>
    <add key="dataServer" value="shipping-qa.horizon.pitneycloud.com"/>
    <add key="loginUrl" value="http://{0}/api/v1/user/auth/guam"/>
    <add key="transactionsUrl" value="http://{0}/api/v1/transactions"/>
    <add key="dataApiUrlTemplate" value="http://{0}/api/v1"/>
  </appSettings>
</configuration>