<?xml version="1.0" encoding="utf-8"?>
<Project DefaultTargets="Go" ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<PropertyGroup>
		<MSBuildCommunityTasksPath>$(MSBuildProjectDirectory)\MSBuildCommunityTasks</MSBuildCommunityTasksPath>
		<Configuration Condition="'$(Configuration)' == ''">Release</Configuration>
		<SolutionRoot>$(MSBuildProjectDirectory)\..</SolutionRoot>
		<OutputDirectory>$(SolutionRoot)\.artifacts</OutputDirectory>
		<OutputBinDirectory>$(SolutionRoot)\.artifacts</OutputBinDirectory>
	</PropertyGroup>

	<Import Project="$(MSBuildProjectDirectory)\Build.tasks"/>
	<Import Project="$(MSBuildProjectDirectory)\MSBuildCommunityTasks\MSBuild.Community.Tasks.Targets"/>

	<Target Name="WhereAmI">
		<Message Text=" Here I Am  "/>
		<Exec Command="dir $(SolutionRoot)"/>
		<Message Text=" Version: $(BUILD_NUMBER) "/>
		<!--Message Text=" OutputBinDirectory: $(OutputBinDirectory) "/-->
		<!--Message Text=" OutputBinDirectory: $(SolutionRoot)\PitneyTest\bin\$(Configuration) "/-->
	</Target>

	<Target DependsOnTargets="WhereAmI; Pack" Name="Go"/>
	<Target DependsOnTargets="UpdateAssemblyVersion_TeamCity; Build; Copy; Pack" Name="Go_TeamCity"/>
	<Target Condition="'$(BUILD_NUMBER)' != ''" Name="UpdateAssemblyVersion">
		<ItemGroup>
			<RegexTransform Include="$(SolutionRoot)\CommonAssemblyInfo.cs">
				<Find>(?&lt;major&gt;\d+)\.(?&lt;minor&gt;\d+)\.\d+\.(?&lt;revision&gt;\d+)</Find>
				<ReplaceWith>$(BUILD_NUMBER)</ReplaceWith>
			</RegexTransform>
		</ItemGroup>

		<Message Text=" BUILD_NUMBER = $(BUILD_NUMBER) "/>
		<RegexTransform Items="@(RegexTransform)"/>
	</Target>
	
	<PropertyGroup>
		<BuildDependsOn>
			AssemblyVersion;
			$(BuildDependsOn)
		</BuildDependsOn>
	</PropertyGroup>

	<ItemGroup>
		<AssemblyVersionFiles Include="$(SolutionRoot)\CommonAssemblyInfo.cs"/>
	</ItemGroup>

	<Target Name="AssemblyVersion"
					Inputs="@(AssemblyVersionFiles)"
					Outputs="UpdatedAssemblyVersionFiles">
		<Attrib Files="%(AssemblyVersionFiles.FullPath)"
						Normal="true"/>
		<AssemblyInfo
			CodeLanguage="CS"
			OutputFile="%(AssemblyVersionFiles.FullPath)"
			AssemblyProduct="eFolder Outlook plugin"
			
			AssemblyVersion="$(BUILD_NUMBER)"
			AssemblyFileVersion="$(BUILD_NUMBER)">
			<Output TaskParameter="OutputFile"
							ItemName="UpdatedAssemblyVersionFiles"/>
		</AssemblyInfo>
	</Target>
	
	<Target DependsOnTargets="AssemblyVersion" Condition="'$(BUILD_NUMBER)' != ''" Name="UpdateAssemblyVersion_TeamCity">
		<Message Text=" BUILD_NUMBER = $(BUILD_NUMBER) "/>

	</Target>
	
	<Target Name="Build">
		<MSBuild Projects="$(SolutionRoot)\CloudAttachment.Outlook.sln" Targets="Build"/>
	</Target>
	<Target Name="Copy">
		<PropertyGroup>
			<BuildPath>$(SolutionRoot)\CloudAttachment.Outlook.AddIn\bin\$(Configuration)</BuildPath>
		</PropertyGroup>
		<ItemGroup>
			<ApplicationFiles Exclude="$(BuildPath)\*vshost.exe*;$(BuildPath)\*.pdb;$(BuildPath)\*.exe" Include="$(BuildPath)\*.*"/>

		</ItemGroup>

		<CreateItem Exclude="$(BuildPath)\*vshost.exe*;$(BuildPath)\*.pdb;$(BuildPath)\*.exe" Include="$(BuildPath)\*.*">
			<Output TaskParameter="Include" ItemName="FilesToCopy" />
		</CreateItem>

		<MakeDir Directories="$(OutputBinDirectory)\$(BUILD_NUMBER)" Condition="!Exists('$(OutputBinDirectory)\$(BUILD_NUMBER)')" />

		<Copy SourceFiles="@(FilesToCopy)"
				DestinationFiles="@(FilesToCopy->'$(OutputBinDirectory)\$(BUILD_NUMBER)\%(RecursiveDir)%(Filename)%(Extension)')" />
	</Target>


	<Target Name="Pack">
		<PropertyGroup>
			<!--SourceBinPath>$(OutputBinDirectory)\$(BUILD_NUMBER)</SourceBinPath-->
			<SourceBinPath>$(SolutionRoot)\PitneyTest\bin\$(Configuration)</SourceBinPath>
			<ZipOutputDirectory>$(OutputDirectory)</ZipOutputDirectory>
		</PropertyGroup>
		<ItemGroup>
			<SourceFilesToArchive Include="$(SourceBinPath)\**\*.*" Exclude="$(SourceBinPath)\**\*.pdb;$(SourceBinPath)\**\*vshost*"/>
		</ItemGroup>
		<Message Text=" Packing folder: $(SourceBinPath) "/>

		<MakeDir Directories="$(NightlyBuildPath)"/>
		<Zip Files="@(SourceFilesToArchive)" WorkingDirectory="$(SourceBinPath)" ZipFileName="$(ZipOutputDirectory)\$(BUILD_NUMBER).zip" ZipLevel="9"/>
	</Target>
</Project>